@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato-Light-webfont.eot');
    src: url('../fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light-webfont.woff2') format('woff2'),
         url('../fonts/Lato-Light-webfont.woff') format('woff'),
         url('../fonts/Lato-Light-webfont.ttf') format('truetype'),
         url('..fonts/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
   font-size:14px; 
    line-height: 1.75;
    color:#82858e ;
}

::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;
}

:-ms-input-placeholder {  
   color: #333;
}
h1{@include font-size(5); font-family: 'latolight';  }
h2{@include font-size(1.8);  }
h3{@include font-size(2);  }
h4{@include font-size(1.8); }
h5{@include font-size(2); }
  h6{@include font-size(1.3);  }

section{padding:150px 0px 150px 0px; }

.navbar-brand{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size:80px; font-weight:bold; color:#6081d0; padding:0px; height:auto; margin-top:8px;
span{color:#9dd260;}
small{font-size:14px; font-family: 'latolight'; color:#b4b6bb; font-style:italic;}
}

.navbar-stiky{ border:none; margin-bottom:0px; background-color:#fff;  border-bottom:solid 1px #ddd; border-radius:0px;
.navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
    color:#888; 
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #5c83d2; color:#fff;
    text-decoration: none;
}

}







 #sticky{
  position:absolute;
  top:0px;
  width:100%;
  z-index:8; 

background:#fff;
            
            // set animation
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        
        #sticky.sticky {
            line-height: 48px;
            height: 60px; 
            background: #6081d0;
            text-align: left;
           z-index:9; 
         

           .navbar-nav > li > a {
    padding-bottom:26px;
    padding-top:26px;
}
           
        }
/* Service area start*/

#service{background-color:#f2f3f7;
h1{@include font-size(5); font-family: 'latolight'; color:#333; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px;}
ul {
    margin: 0;
    padding: 0;
    list-style: none;


  li { float:left; background-color:#fff; text-align: center; padding:40px 22px 40px 22px;    width:25%; border:solid 1px #e3e6eb; border-bottom:solid 2px #e3e6eb; border-right:solid 2px #e3e6eb;  
.fa.fa-rocket{font-size:60px; color: #faa912; }
.fa.fa-tachometer{font-size:60px; color: #6081d0; }
.fa.fa-diamond{font-size:60px; color: #9dd260; }
.fa.fa-laptop{font-size:60px; color: #ff6e67; }
h3{@include font-size(2); text-align: center; }
p{@include font-size(1.3); text-align: center; color:#777;  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

}
}
}

.curosul-control-custome{
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    right:0;
    opacity:1; display:none;
    position: absolute;
    text-align: center;
    bottom: 0;
}
.carousel-control.left{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0; left:none; top:none;
    text-align: center;
    width: 30px;
}

.carousel-control.right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}

}
.carousel-caption{left: 15%;
    padding-bottom: 30px; top:25%;
    right: 15%;

  h1{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    text-transform: uppercase;}

     h2{font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 42px; color:#faa912;
    margin-bottom: 50px;
    text-transform: uppercase;}
}

.btn-success {
  color: #fff;
  background-color: #9bd05e;
  border-color: #a6dc68;
  font-size: 1.5rem;

}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #90bb51;
  border-color: #9dcf5c;
}
.btn-info {
  color: #fff;
  background-color: #5f84cb;
  border-color: #6d93db;
  font-size: 1.5rem;

}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #5372c1;
  border-color: #5f7fd2;
}
.btn-danger {
  color: #fff;
  background-color: #ff7372;
  border-color: #fa8a89;
  font-size: 1.5rem;

}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #e96a65;
  border-color: #ff7475;
}

.btn-warning {
  color: #fff;
  background-color: #f7a406;
  border-color: #f9ad1d;
  font-size: 1.5rem;

}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #eb9908;
  border-color: #f7a406;
}


.alert-success {
    background-color: #eaf6de;
    border-color: #cfe8ae;
    color: #67a82a;
}

.alert-info {
    background-color: #f1f4f9;
    border-color: #cacfe2;
    color: #5d80d1;
}

.alert-danger {
    background-color: #fbe1e2;
    border-color: #efb6bd;
    color: #d35153;
}

.alert-warning {
    background-color: #f7efdc;
    border-color: #e4debc;
    color: #ab934d;
}

#star-list{

ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;

  li { @include font-size(1.8); 

  a {
    display: block; color: #fff;
    padding: 4px 12px;
    text-decoration: none;
    &:hover{
      color:#bee196;
    }
  }

}

li:before{ content: '\f006'; /* fa-star */
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em; color:#fff; margin-top:6px;
}

}

}


#chevron-circle-list{

ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;

  li { @include font-size(1.8); 

  a {
    display: block; color: #fff;
    padding: 4px 12px; text-indent:6px;
    text-decoration: none;
    &:hover{
      color:#bee196;
    }
  }

}

li:before{ content: '\f138'; /* fa-star */
  font-family: 'FontAwesome';
  float: left;
  margin-left:0px; color:#9bd05e; margin-top:6px;
}

}

}

#featured{background-color:#6081d0;
h1{@include font-size(5); font-family: 'latolight'; color:#fff; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px; color:#fff;}

}




/*==========================================
    PORTFOLIO STYLES
    =====================================================*/


#portfolio{background-color:#fff;

  h1{@include font-size(5); font-family: 'latolight'; color:#333; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px;}
.portfolio-filter{
ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;


  li { @include font-size(1.8);  display:inline-block;
.fa.fa-arrow-circle-o-right{@include font-size(1.8); padding-right:10px; }
  a {
    display: block; color: #6081d0; 
    padding: 2px 12px; border:solid 2px #6081d0;
    text-decoration: none;
    &:hover{
    	color:#9dd260; border:solid 2px #9dd260;
    }
  }

}
}

}

.portfolio-items{
ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none; width: 100%;   @include clearfix();


  li { @include font-size(1.8);  width:25%;  border:solid 1px #eaeaec; margin-bottom:30px; 
  	h4{@include font-size(1.8); text-align: center; }
  	p{@include font-size(1.4); text-align: center; }


.fa.fa-arrow-circle-o-right{@include font-size(1.8); padding-right:10px; }
  a {
    display: block; color: #fff;
    text-decoration: none;
    &:hover{
    	color:#bee196;
    	
    }
  }

}
}
}
}



/*==========================================
   ISOTOPE FILTERING STYLES
    =====================================================*/

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/* ISOTOPE CSS3 TRANSACTIONS */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/* DISABLE ISOTOPE CSS3 TRANSACTIONS */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* DISABLE ISOTOPE CSS3 TRANSACTIONS FOR CONTAINERS WITH INFINITE SCROLLING */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}



#aboutus{

  h1{@include font-size(5); font-family: 'latolight'; color:#333; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px;}

ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;


  li { @include font-size(1.4);  
.fa.fa-arrow-circle-o-right{@include font-size(1.8); padding-right:10px; color:#bee196; }
  a {
    display: block; 
    padding: 6px 12px; color:#82858e ;
    text-decoration: none;
    &:hover{
      color:#bee196;
    }
  }

}
}
}



#about-us-facts { 
  background: url(../images/about-us-facts.jpg) 50% 0 fixed; 
  height: auto; 
  margin: 0 auto;  
  width: 100%; 
  position: relative; 
  padding: 70px 0;
  h1{@include font-size(5); font-family: 'latolight'; color:#fff; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px; color:#fff;}
  h3{ font-size:36px; font-style:italic; color:#fff; text-align:center}
   p{ font-size:14px;  text-align:center}

.award-bg{width:140px; height:140px; line-height:140px; font-size:68px; color:#fff; border-radius:50%; background-color:#9cd15f; margin:0 auto; text-align:center;}
.customer-bg{width:140px; height:140px; line-height:140px; font-size:68px; color:#fff; border-radius:50%; background-color:#fba409; margin:0 auto; text-align:center;}
.social-bg{width:140px; height:140px; line-height:140px; font-size:68px; color:#fff; border-radius:50%; background-color:#6081d0; margin:0 auto; text-align:center;}
.idias-bg{width:140px; height:140px;  line-height:140px; font-size:68px; color:#fff; border-radius:50%; background-color:#ff7471; margin:0 auto; text-align:center;}

}

#team{    h1{@include font-size(5); font-family: 'latolight'; color:#333; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px;}
.team-member{

      h4{@include font-size(2.8); text-align: left; font-family: 'latolight'; color:#333; margin-bottom:5px; margin-top:0px;}
     small{@include font-size(1.5); text-align: left; font-style:italic; margin-top:0px;}
      p{@include font-size(1.4); text-align: left;  margin-top:10px; line-height:24px;}

      .social-link{
        ul {
    margin: 12px 0 0px 0;
    padding: 0;
    list-style: none; width: 100%;   @include clearfix();


  li { @include font-size(1.8); width:35px; float:left; margin-right:10px; height:35px; color:#797b87; text-align:center; border:solid 1px #e9e9e9; margin-bottom:30px; 
  a {
    display: block; color: #797b87;
    text-decoration: none;
    &:hover{
      color:#bee196;
      
    }
  }

}
}
      }
}

}



.skills{

  .progress {
    background-color: #f1f2f7;
    border-radius: 8px;
    box-shadow:none;
    height: 15px;
    margin-bottom: 20px; margin-top:5px;
    overflow: hidden;
}

.progress-bar-info {
    background-color: #607ed6;
}

.progress-bar-warning {
    background-color: #f7a406;
}

.progress-bar-success {
    background-color: #9cd062;
}

.progress-bar-danger {
    background-color: #fa7570;
}
.progress-bar {
    
    box-shadow:none;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height:15px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

}







/*# sourceMappingURL=style.css.map */
#testmonial { 
   h1{@include font-size(5); font-family: 'latolight'; color:#fff; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px; color:#fff;}
  background: url(../images/client-bg.jpg) 50% 0 fixed; 
  height: auto; 
  margin: 0 auto;  
  width: 100%; 
  position: relative; 
  padding: 70px 0;

  .testimonial-section{@include font-size(2); margin-top:0px; margin-bottom:10px; font-weight:bold; color:#fff; font-style:italic;}
  .testimonial-section-name{@include font-size(1.8); text-align:center; margin-top:0px; margin-bottom:45px;  color:#fff;}
}


#blog{

h1{@include font-size(5); font-family: 'latolight'; color:#333; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px;}
h4{@include font-size(1.6); line-height:1.4em;color:#333;  }
p{margin-top:10px;}
.date{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.comment{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.like{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}

.redmore{@include font-size(1.4); line-height:1.4em;color:#9cd062;@include border-radius(3px); font-weight:bold;   text-align:center; display:block;
  a {
    display: block; color: #9cd062; @include border-radius(3px); padding:10px 20px 10px 20px; border:solid 1px #e8e9ed;
    text-decoration: none;
    &:hover{
      color:#fff; display:block; 
      background-color:#9cd062; border:solid 1px #91c64e;
      
    }
  }
}

}




#contact-section{

#contact-us-bg { 

  h1{@include font-size(5); font-family: 'latolight'; color:#fff; }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px; color:#fff;}
  background: url(../images/contact-bg.jpg) 50% 0 fixed; 
  height: auto; 
  margin: 0 auto;  
  width: 100%; 
  position: relative; 
  padding: 70px 0;

.contact-box{position:relative; background-color:#fff; height: 200px; padding-top:30px;
h1{font-family: 'latolight'; @include font-size(3.5);  color:#333; text-align:center}
p{ @include font-size(1.4); text-align:center; margin-bottom:5px;}
.call-circle{width:60px; height:60px; line-height:55px; left:0px; right:0px; top:-30px; border-radius:50%; position:absolute; background-color:#ff7471; font-size:30px; color:#fff; margin:0 auto; text-align:center;}
.email-circle{width:60px; height:60px; line-height:58px; left:0px; right:0px; top:-30px; border-radius:50%; position:absolute; background-color:#9cd15f; font-size:30px; color:#fff; margin:0 auto; text-align:center;}
.location-circle{width:60px; left:0px; line-height:58px; right:0px; top:-30px; height:60px; border-radius:50%; position:absolute; background-color:#6081d0; font-size:30px; color:#fff; margin:0 auto; text-align:center;}
}


}


.contact-form-map{ padding-top:100px; padding-bottom:100px;
textarea.form-control{height:200px;}
input[type=submit] {
    color:#fff;
     @include font-size(1.5);
  @include border-radius(3px); 
    line-height: 1.33333;
    padding: 10px 16px; 
    background-color:#9cd15f; border:solid 1px #91c64e;
    cursor:pointer; font-weight:bold;
}
.google-map{height:370px; width:100%;}
input[type=submit]:hover {
    background-color:rgba(255,204,0,0.8);
}
.form-control {
    background-color: #f2f3f7;
    background-image: none;
    border: 1px solid #e9eaec;
    @include border-radius(3px); 
    box-shadow:none;
    color: #333;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

}

}


.footer{ background-color:#232426; padding:60px 0 40px 0;
  h1{@include font-size(5); font-family: 'latolight'; color:#fff; text-align:center }
h2{@include font-size(1.8); margin-top:0px; margin-bottom:45px; color:#fff;}
p{@include font-size(1.4); margin-top:0px; margin-bottom:45px; color:#828387; text-align:center}
 ul {
    margin: 12px 0 0px 0;
    padding: 0; width:355px; margin:0 auto;
    list-style: none;    @include clearfix();


  li { @include font-size(1.4);  float:left; margin-right:10px;  color:#797b87; text-align:center; margin-bottom:30px; 
  a.facebook {
    display: block; color: #fff; background-color:#3c5a9a; padding:8px 15px 8px 15px;
    text-decoration: none;  @include border-radius(3px);
    i{margin-right:10px;}
    &:hover{
      color:#fff;
      background-color:#4b6bb0;
      
    }
  }

  a.twitter {
    display: block; color: #fff; background-color:#00acee; padding:8px 15px 8px 15px;
    text-decoration: none;  @include border-radius(3px);
    i{margin-right:10px;}
    &:hover{
      color:#fff;
      background-color:#11b9f9;
      
    }
  }


    a.google {
    display: block; color: #fff; background-color:#da4c34; padding:8px 15px 8px 15px;
    text-decoration: none;  @include border-radius(3px);
    i{margin-right:10px;}
    &:hover{
      color:#fff;
      background-color:#ef5d4a;
      
    }
  }

}
}

}


.top-scroll{
     background-color: #232426;
    border: 2px solid #fff;
    @include border-radius(50%);
width:35px; height:35px; text-align:center; line-height:30px;}

#top-link-block.affix-top {
    position: absolute; 
    bottom: -82px; 
    right:10px; 
    z-index: 9995;
}
#top-link-block.affix {
    position: fixed; 
    bottom: 108px; 
    right:  10px; 
    z-index: 9995;
}

.pic
{

  position:relative;
  overflow:hidden;

 
  -webkit-animation:anima 2s;
  -moz-animation:anima 2s;
  -o-animation:anima 2s;
  -ms-animation:anima 2s;
  animation:anima 2s;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden
}
.pic-3d
{
  -webkit-perspective:500;
  -moz-perspective:500;
  -o-perspective:500;
  -ms-perspective:500;
  perspective:500;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d
}
.pic-caption
{
  cursor:pointer-events;
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(250,169,18,0.92);
  padding:10px;
  text-align:center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0
}


.pic-caption-2
{
  cursor:pointer-events;
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(96,129,208,0.92);
  padding:10px;
  text-align:center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0
}


.pic-caption-3
{
  cursor:pointer-events;
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(157,210,96,0.92);
  padding:10px;
  text-align:center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0
}


.pic-caption-4
{
  cursor:pointer-events;
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(255,110,103,0.92);
  padding:10px;
  text-align:center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0
}
.pic-image
{
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform:scale(1.1)
}
.pic:hover .pic-image
{
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1)
}
.pic-title
{
  font-size:4.8em;
  color:#fff; 
  font-family: 'latolight'; padding-top:20px; text-align:center;
}


.blog-pic-title
{
  font-size:4.8em;
  color:#fff; 
  font-family: 'latolight'; padding-top:40px; text-align:center;
}
  a,a:hover,.pic .pic-image,.pic-caption,.pic:hover .pic-caption,.pic:hover img
{
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  transition:all 0.5s ease
}
.pic:hover .bottom-to-top,.pic:hover .top-to-bottom,.pic:hover .left-to-right,.pic:hover .right-to-left,.pic:hover .rotate-in,.pic:hover .rotate-out,.pic:hover .open-up,.pic:hover .open-down,.pic:hover .open-left,.pic:hover .open-right,.pic:hover .come-left,.pic:hover .come-right
{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-touch-callout:none;
  -moz-touch-callout:none;
  -o-touch-callout:none;
  -ms-touch-callout:none;
  touch-callout:none;
  -webkit-tap-highlight-color:transparent;
  -moz-tap-highlight-color:transparent;
  -o-tap-highlight-color:transparent;
  -ms-tap-highlight-color:transparent;
  tap-highlight-color:transparent
}
.bottom-to-top
{
  top:50%;
  left:0
}
.pic:hover .bottom-to-top
{
  top:0;
  left:0
}
.top-to-bottom
{
  bottom:50%;
  left:0
}
.pic:hover .top-to-bottom
{
  left:0;
  bottom:0
}
.left-to-right
{
  top:0;
  right:50%
}
.pic:hover .left-to-right
{
  right:0;
  top:0
}
.right-to-left
{
  top:0;
  left:50%
}
.pic:hover .right-to-left
{
  left:0;
  top:0
}
.rotate-in
{
  -webkit-transform:rotate(90deg) scale(0.1);
  -moz-transform:rotate(90deg) scale(0.1);
  -o-transform:rotate(90deg) scale(0.1);
  -ms-transform:rotate(90deg) scale(0.1);
  transform:rotate(90deg) scale(0.1);
  top:0;
  left:0
}
.pic:hover .rotate-in
{
  -webkit-transform:rotate(360deg) scale(1);
  -moz-transform:rotate(360deg) scale(1);
  -o-transform:rotate(360deg) scale(1);
  -ms-transform:rotate(360deg) scale(1);
  transform:rotate(360deg) scale(1)
}
.rotate-out
{
  -webkit-transform:rotate(90deg) scale(3);
  -moz-transform:rotate(90deg) scale(3);
  -o-transform:rotate(90deg) scale(3);
  -ms-transform:rotate(90deg) scale(3);
  transform:rotate(90deg) scale(3);
  top:0;
  left:0
}
.pic:hover .rotate-out
{
  -webkit-transform:rotate(360deg) scale(1);
  -moz-transform:rotate(360deg) scale(1);
  -o-transform:rotate(360deg) scale(1);
  -ms-transform:rotate(360deg) scale(1);
  transform:rotate(360deg) scale(1)
}
.open-down
{
  -webkit-transform:rotateX(-180deg);
  -moz-transform:rotateX(-180deg);
  -o-transform:rotateX(-180deg);
  -ms-transform:rotateX(-180deg);
  transform:rotateX(-180deg);
  top:0;
  left:0
}
.pic:hover .open-down
{
  -webkit-transform:rotateX(0);
  -moz-transform:rotateX(0);
  -o-transform:rotateX(0);
  -ms-transform:rotateX(0);
  transform:rotateX(0)
}
.open-up
{
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -o-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  transform:rotateX(180deg);
  top:0;
  left:0
}
.pic:hover .open-up
{
  -webkit-transform:rotateX(0);
  -moz-transform:rotateX(0);
  -o-transform:rotateX(0);
  -ms-transform:rotateX(0);
  transform:rotateX(0)
}
.open-left
{
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  transform:rotateY(180deg);
  left:0;
  top:0
}
.pic:hover .open-left
{
  -webkit-transform:rotateY(0deg);
  -moz-transform:rotateY(0deg);
  -o-transform:rotateY(0deg);
  -ms-transform:rotateY(0deg);
  transform:rotateY(0deg)
}
.open-right
{
  -webkit-transform:rotateY(-180deg);
  -moz-transform:rotateY(-180deg);
  -o-transform:rotateY(-180deg);
  -ms-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
  left:0;
  top:0
}
.pic:hover .open-right
{
  -webkit-transform:rotateY(0deg);
  -moz-transform:rotateY(0deg);
  -o-transform:rotateY(0deg);
  -ms-transform:rotateY(0deg);
  transform:rotateY(0deg)
}
.come-left
{
  -webkit-transform:rotateY(90deg) rotateX(90deg);
  -moz-transform:rotateY(90deg) rotateX(90deg);
  -o-transform:rotateY(90deg) rotateX(90deg);
  -ms-transform:rotateY(90deg) rotateX(90deg);
  transform:rotateY(90deg) rotateX(90deg);
  left:0;
  top:0
}
.pic:hover .come-left
{
  -webkit-transform:rotateY(0) rotateX(0);
  -moz-transform:rotateY(0) rotateX(0);
  -o-transform:rotateY(0) rotateX(0);
  -ms-transform:rotateY(0) rotateX(0);
  transform:rotateY(0) rotateX(0)
}
.come-right
{
  -webkit-transform:rotateY(-90deg) rotateX(-90deg);
  -moz-transform:rotateY(-90deg) rotateX(-90deg);
  -o-transform:rotateY(-90deg) rotateX(-90deg);
  -ms-transform:rotateY(-90deg) rotateX(-90deg);
  transform:rotateY(-90deg) rotateX(-90deg);
  left:0;
  top:0
}
.pic:hover .come-right
{
  -webkit-transform:rotateY(0) rotateX(0);
  -moz-transform:rotateY(0) rotateX(0);
  -o-transform:rotateY(0) rotateX(0);
  -ms-transform:rotateY(0) rotateX(0);
  transform:rotateY(0) rotateX(0)
}
  @media screen and (max-width: 560px)
{
.pic
{
  max-width:400px;
  max-height:300px;
  display:block;
  -webkit-animation:none;
  -moz-animation:none;
  -o-animation:none;
  -ms-animation:none;
  animation:none;
  margin:10px auto
}

}



.modal-content{border-radius:0px; box-shadow:0px; 

 h4{@include font-size(3.5); font-family: 'latolight'; color:#333; text-align:center }
h5{@include font-size(2); margin-top:0px; margin-bottom:10px; margin-top:10px; color:#333;}
}

.modal-header {
    min-height: 16.43px;
    padding: 15px; color:#333;
}

.modal-footer {

    padding: 15px; color:#fff;
    text-align: right;
}


.breadcrumb{ background-color:#9ed15b; height:120px; margin-top:80px; border-radius:0px;
  h1{float:left;font-family: 'latolight'; @include font-size(3.8); color:#fff; padding-top:10px;}
        ul {
    margin: 35px 0 0px 0;
    padding: 0;
    list-style: none; float:right;   @include clearfix();


  li { @include font-size(1.8); float:left; margin-right:10px;  color:#fff;margin-bottom:30px; 
  a {
    display: block; color: #fff;
    text-decoration: none;
    &:hover{
      color:#bee196;
      
    }
  }

}
}

}



#blog-listing{

h1{@include font-size(2); font-family: 'latolight'; color:#333; margin-top:0px; }

p{margin-top:10px;}
.date{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.comment{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.like{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}

.row-martop{margin-top:30px;}
.redmore{@include font-size(1.4); line-height:1.4em;color:#9cd062; font-weight:bold;   text-align:center; display:inline-block;
  a {
    display: block; color: #9cd062; @include border-radius(3px); padding:10px 40px 10px 40px; border:solid 1px #e8e9ed;
    text-decoration: none;
    &:hover{
      color:#fff; display:block; 
      background-color:#9cd062; border:solid 1px #91c64e;
      
    }
  }
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #9cd062;
    border-color: #9cd062;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #9cd062;
    color: #9cd062;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}




}

.right-sidebar{background-color:#fff; border:solid 1px #f2f3f7; padding:15px;

.search input{border-radius:3px!important; height:40px;}

.btn-search{background-color: #9cd062;
    border: 1px solid #91c64e;
    color: #fff;
    display: block; height:40px;}


    .category-section{
      h2{@include font-size(2.4);  color:#333;  margin-bottom:30px; margin-top:30px; border-bottom:solid 1px #e9eaec; padding-bottom:10px;}
              ul {
    margin: 12px 0 0px 0;
    padding: 0;
    list-style: none; width: 100%;   @include clearfix();


  li { @include font-size(1.4);  color:#797b87;  margin-bottom:8px; 
  a {
    i{color:#bee196}
    display: block; color: #797b87;
    text-decoration: none;
    &:hover{
      color:#bee196;
      
    }
  }

}
}
    }


    .tab-section{
      h2{@include font-size(2);  color:#333;  margin-bottom:20px; margin-top:30px; border-bottom:solid 1px #e9eaec; padding-bottom:10px;}
  .entry-item:last-child{border-bottom:none;}    
.entry-item{@include font-size(1.3); border-bottom:solid 1px #ddd; margin-bottom:8px;
  .entry-thumb{float:left; width:80px;}
  .entry-content{padding-left:90px;}
  h6{@include font-size(1.3);  color:#333; margin-top:0px;}
    a {
    display: block; color: #797b87;
    text-decoration: none;
    &:hover{
      color:#bee196;
      
    }
  }
}


.date{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.comment{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.like{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
      


    }


.tags{
  h2{@include font-size(1.8);  color:#333;  margin-top:30px; margin-bottom:30px; border-bottom:solid 1px #e9eaec; padding-bottom:10px;}
 ul {
    margin: 12px 0 0px 0;
    padding: 0;
    list-style: none; width: 100%;   @include clearfix();


  li { @include font-size(1.4); float:left; margin-right:10px;  color:#797b87;  margin-bottom:8px; 
  a {
 
    color: #777; background:#f1f2f7;
    display: block;
    padding: 3px 12px;
    text-decoration: none;
    &:hover{
  background:#9cd15f;
    color: #fff;
      
    }
  }

}
}
}


.fliker-gallery{ 
  h2{@include font-size(1.8);  color:#333;  margin-top:30px; margin-bottom:30px; border-bottom:solid 1px #e9eaec; padding-bottom:10px;}
 ul {
    margin: 12px -5px 0px -5px;
    padding: 0;
    list-style: none; width: 100%;   @include clearfix();

  li { @include font-size(1.4); width:33.3333%; float:left; padding:5px; color:#797b87; 
  a {
    display: block; color: #797b87;
    text-decoration: none;
    &:hover{
      color:#bee196;
      
    }
  }

}
}}


}



#blog-details{
.main-blogimg img{width:100%; height:auto;}
.date{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.comment{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.like{display:inline-block; margin-right:10px;
.fa{margin-right:5px;}
}
.comment-list{
  .comment-user{display:inline; margin-right:10px; }
.comment-date{display:inline}
.panel {
    background-color: #fff;
    border: 1px solid #e9eaec;
    border-radius:3px;
    box-shadow:none;
    margin-bottom: 20px;
}
.panel-default > .panel-heading {
    background-color: #f2f3f7;
    border-color: #e9eaec;
    color: #333;
}
}
  h1{@include font-size(2.5); font-family: 'latolight'; color:#333; margin-top:10px; }

    .contact-form-map{ padding-top:50px; padding-bottom:50px;
textarea.form-control{height:200px;}
input[type=submit] {
    color:#fff;
     @include font-size(1.5);
  @include border-radius(3px); 
    line-height: 1.33333;
    padding: 10px 16px; 
    background-color:#9cd15f; border:solid 1px #91c64e;
    cursor:pointer; font-weight:bold;
}
.google-map{height:370px; width:100%;}
input[type=submit]:hover {
    background-color:rgba(255,204,0,0.8);
}
.form-control {
    background-color: #f2f3f7;
    background-image: none;
    border: 1px solid #e9eaec;
    @include border-radius(3px); 
    box-shadow:none;
    color: #333;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

}
}





.tab-content{padding:10px 5px 10px 5px; border:solid 1px #ddd; border-top:none;}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
    color: #fff;
    background-color:#9ed15b;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
}


.panel-default > .panel-heading{background-color:#9ed15b; color:#fff;}


blockquote {
    border-left: 5px solid #9ed15b;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
}

.carousel-indicators li {
    background-color:#fff;
    border: 1px solid #fff;
    border-radius:3px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}
.carousel-indicators .active {
    background-color: #9ed15b;
    border: 1px solid #9ed15b;
    height: 12px;
    margin: 0;
    width: 12px;
}


@media (min-width: 768px) and (max-width: 979px) {
  .carousel-caption {
    top: 8%;}
    .carousel-caption h1{font-size:42px;}
    .carousel-caption h2{font-size:30px;}
    .nav > li > a {
    padding: 10px 12px;
}
#service ul li{height:325px;}
#star-list ul{margin: 0 25px 40px;}
.team-img-mar{margin-top:30px;}
.blog-pic-title{padding-top:0px;}
.nav > li > a {
    padding: 10px 8px;
}
.hidden-xs{display:none;}
}

@media (max-width: 767px) {
.navbar-toggle {
    background-color: #6081d0;
    background-image: none;
    border: 1px solid #6081d0;
    border-radius: 4px;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
}

.navbar-toggle .icon-bar{background-color:#fff;}
#sticky.sticky .navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 8px;
}
.navbar-stiky .navbar-nav > li > a {
    color: #888;
    padding-bottom: 8px;
    padding-top: 8px;
}
#aboutus ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#portfolio .portfolio-items ul li{width:100%;}
#portfolio .portfolio-filter ul li a {
    border: 2px solid #6081d0;
    color: #6081d0;
    display: block;
    padding: 2px 7px;
    text-decoration: none;
}
#star-list ul {
    list-style: outside none none;
    margin: 0 30px 40px;
    padding: 0;
}
#service ul li{width:100%}
.carousel-caption{display:none;}
.navbar-toggle{margin-top:20px;}
}